################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/nbpTracker.API/nbpTracker/currencyrates.db
/nbpTracker.API/nbpTracker/currencyrates.db-shm
/nbpTracker.API/nbpTracker/currencyrates.db-wal
